version: "3.8"

services:
  # -------------------- MySQL --------------------
  mysql:
    image: mysql:8
    container_name: happyhome-mysql
    restart: always
    environment:
      MYSQL_DATABASE: happyhome
      MYSQL_USER: D3_92602_Amol
      MYSQL_PASSWORD: manager
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  # -------------------- Backend (Spring Boot) --------------------
  backend:
    build: ./happyhome-server
    container_name: happyhome-backend
    depends_on:
      - mysql
    ports:
      - "8080:8080"
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
      DB_USER: D3_92602_Amol
      DB_PASS: manager
      JWT_SECRET: acvhnanvavnioqvnijvaj_vanv_qavnqovnqoivnqoivn_qvbjqbvqjabv
      RAZORPAY_KEY_ID: rzp_test_S7bivnJVMPGoc0
      RAZORPAY_KEY_SECRET: mUo2vpaac1o7dAhe4FK3dqOU
    restart: always

  # -------------------- Frontend (React + Nginx) --------------------
  frontend:
    build: ./happy-home
    container_name: happyhome-frontend
    depends_on:
      - backend
    ports:
      - "80:80"
    restart: always

    # -------------------- MongoDB (Notification Service) --------------------
  mongo-notification:
    image: mongo:7
    container_name: happyhome-mongo-notification
    restart: always
    volumes:
      - mongo_notification_data:/data/db
    ports:
      - "27017:27017"

  # -------------------- Notification Service (.NET 8) --------------------
  notification-service:
    build: ./NotificationService/NotificationService
    container_name: happyhome-notification
    depends_on:
      - mongo-notification
    ports:
      - "5253:5253"
    environment:
      ASPNETCORE_URLS: http://+:5253
    restart: always

# -------------------- Volumes --------------------
volumes:
  mysql_data:
  mongo_notification_data: